{% extends 'protein/bootstrap.html' %}

{% load bootstrap4 %}

{% block bootstrap4_extra_head %}
    {% load static %}
    <link rel="shortcut icon" href="{%  static 'protein/img/favicon.ico' %}">

    {% block tablejs %}{% endblock %}
    {% block chartjs %}{% endblock %}

{% endblock %}

{% block bootstrap4_content %}



    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{% url 'protein:index' %}">Protein Testing</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'protein:shakes' %}">All Shakes <span class="sr-only">(current)</span></a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" method="get" action="{% url 'protein:shakes' %}">
          <input class="form-control mr-sm-2" name="search" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
    <div class="container">


        {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

        {% block content %}(no content){% endblock %}
    </div>


{% endblock %}

{% block bootstrap4_extra_script %}
{% endblock %}