{% extends 'protein/base.html' %}

{% load bootstrap4 %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <br>
    <h1 class="display-4 text-center html">Prozis Protein Shake Testing</h1>
    <br>
    <p class="text-center">I was gifted over 20 different flavors of protein powder from the popular fitness online store Prozis.</p>
    <p class="text-center">This small webpage is a collection of short reviews of these shakes.</p>
    <p class="text-center">These reviews are probably highly subjective.</p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <p class="text-center">And of course, this site is not, in any ways, affiliated with or sponsored by any named brands.</p>
    <p class="text-center">This page is open source and available at <a href="https://github.com/YellowTech/ProteinRate">Github</a></p>


</script>



{% endblock %}